@using Microsoft.JSInterop;
@using global::ThreeNET.Objects.Geometry;
@using global::ThreeNET.Objects.Meshes.Materials;
@inject ThreeNET three
@inject IJSRuntime js
@implements IAsyncDisposable
<h3>ThreeView</h3>
<div @ref=threeElement>
	test
</div>
@code {
	private ThreePerspectiveCamera? Camera { get; set; }
	private ThreeScene? Scene { get; set; }
	private ThreeWebGLRenderer? Renderer { get; set; }
	private ThreeMesh? BoxMesh { get; set; }

	private ElementReference threeElement;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			Scene = await three.Create<ThreeScene>();
			Camera = await three.Create<ThreePerspectiveCamera>(75, 1, 0.1, 1000);
			Renderer = await three.Create<ThreeWebGLRenderer>();
			await Renderer.SetSize(400, 400);
			await Renderer.PlaceInDOM(threeElement);

			ThreeMeshMaterialOptions options = new()
			{
				Color = 0xfcc43e,
			};

			var box = await three.Create<ThreeBoxGeometry>(1, 1, 1);
			var material = await three.Create<ThreeMeshBasicMaterial>(new
			{
				color = options.HexColorString
			});
			BoxMesh = await three.Create<ThreeMesh>(box, material);
			await Scene.Add(BoxMesh);
			await Camera.SetPosition(z: 5);
			await three.RegisterAnimateFunction(Animate);
		}
	}

	public async Task Animate()
	{
		await Renderer!.Render(Scene!, Camera!);
		var helper = await three.Helper();
		await BoxMesh!.Rotate(x: Math.PI / 100, y: Math.PI / 80);
	}

	public async ValueTask DisposeAsync()
	{
		await (Camera?.DisposeAsync() ?? ValueTask.CompletedTask);
		await (Scene?.DisposeAsync() ?? ValueTask.CompletedTask);
		await (Renderer?.DisposeAsync() ?? ValueTask.CompletedTask);
		await (BoxMesh?.DisposeAsync() ?? ValueTask.CompletedTask);
	}
}
